/* Stil for elementet med klasse "topp" */
.topp {
	grid-area: t; 
}

/* Stil for elementet med klasse "venstre" */
.venstre {
    background-color: rgb(86, 115, 121);
    width: 250px;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin: 1rem;
    height: 660px;
}

/* Stil for element med klasse "floattop" */
.floattop {
    position: top;
}

/* Stil for elementet med klasse "hoyre" */
.hoyre {
    background-color: rgb(42, 42, 42);
}

/* Stil for elementet med klasse "box1" */
.box1 {
    background-color: rgb(55, 55, 55);
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;
    margin: 1rem;
    border-radius: 1rem;
    height: auto; /* Justerer høyden automatisk basert på innholdet */
    padding-bottom: 10px;
    padding-right: 5px;
}

/* Stil for alle <p> elementer */
p {
    padding-left: 1rem;
}

/* Stil for hele dokumentet (body) */
body {
    margin: 0px;
    background-color: rgb(42, 42, 42);
}

/* Stil for elementet med id "hoved" */
#hoved {
    height: 100vh;
    display: grid;
    background-color: rgb(42, 42, 42);
    grid-template-columns: 1fr 6fr; 
}

/* Stil for elementet med klasse "bilde" */
.bilde {
    width: 100%;
    max-width: 200px;
    max-height: 80vh;
    border-radius: 1rem;
}

/* Stil for alle ordnede lister (<ol>) */
ol {
    background: #08529d;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;
    list-style-type: none;
    overflow: hidden;
    padding: 20px;
    position: left;
    margin: 10px;
    border-radius: 1rem;
}

/* Stil for alle listeelementer (<li>) */
.li {
    float: left;
}

/* Stil for alle lenker innenfor listeelementer (<li a>) */
li a {
    padding: 15px;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
}

/* Stil for lenker ved hover-effekt */
li a:hover {
    background-color: aquamarine;
}

/* Stil for overskrift med klasse "heder1" */
.heder1 {
    padding: 1rem;
    color: lightskyblue;
}

/* Stil for element med klasse "paragraph" */
.paragraph {
    color: mediumturquoise;
}

/* Stil for element med klasse "list" */
.list {
    color: aquamarine;
}

/* Stil for element med klasse "imgbox" */
.imgbox {
    background-color: rgb(63, 167, 179);
}

/* Stil for element med klasse "box2" */
.box2 {
    height: 660px;
}
