/* Nullstill margin, padding og boksmodell for alle elementer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

/* Sett høyde og bredde til 100% for html og body */
html,
body {
    height: 100%;
    width: 100%;
}

/* Hovedcontainer */
#main {
    min-height: 100%;
    width: 100%;
    /* Bakgrunnsbilde med lineær gradient */
    background-image: linear-gradient(
        23deg,
        hsl(49deg 100% 69%) 0%,
        hsl(16deg 80% 61%) 2%,
        hsl(330deg 81% 34%) 12%,
        hsl(259deg 100% 15%) 50%,
        hsl(212deg 100% 25%) 88%,
        hsl(197deg 100% 30%) 98%,
        hsl(183deg 79% 36%) 100%
    );
    height: 100vh;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Hovedoverskrift */
#main > h1 {
    font-size: 48px;
    display: flex;
    align-items: center;
}

/* Stil for span-elementet inne i h1 */
#main > h1 span {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

/* Stil for img-elementet inne i span */
#main > h1 span img {
    height: 40px;
    rotate: 90deg;
    transition: 0.3s ease;
}

/* Stil for containeren til kryptering og dekryptering av knapper */
#main #endec-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    border-radius: 10px;
    padding: 8px 8px;
    width: 28%;
    margin: 35px 0;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;;
}

/* Stil for h3-elementene inne i endec-div */
#endec-div h3 {
    font-size: 17px;
    display: flex;
    border-radius: 8px;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
    padding: 12px 10px;
    transition: 0.2s ease;
}

/* Stil for krypteringsknappen */
#enc-btn {
    background-color: #333;
}

/* Stil for span- og img-elementene inne i h3 */
#endec-div h3 span {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#endec-div h3 img {
    height: 20px;
}

/* Stil for krypteringsseksjonen */
#kryptering {
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

/* Stil for h5-elementene inne i kryptering */
#kryptering h5 {
    font-size: 16px;
    font-weight: 500;
    color: #6e6e6e;
    margin-bottom: 13px;
}

/* Stil for tekstområdet inne i kryptering */
#kryptering textarea {
    width: 100%;
    height: 70px;
    border: 1px solid #343434;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    background-color: #1C1C1C;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;;
}

/* Stil for input-elementet inne i kryptering */
#kryptering input {
    width: 100%;
    border: 1px solid #343434;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background-color: #1C1C1C;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;;
}

/* Stil for knappen inne i kryptering */
#kryptering button {
    display: flex;
    align-items: center;
    color: #6e6e6e;
    background-color: #1C1C1C;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;;

    border: none;
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    font-size: 17px;
}

/* Stil for span- og img-elementene inne i knappen */
button span {
    display: flex;
    margin-right: 10px;
}

button img {
    height: 20px;
}

/* CSS-stil for dekrypteringselementer */
#dekryptering {
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

/* Stil for overskrift i dekrypteringselementet */
#dekryptering h5 {
    font-size: 16px;
    font-weight: 500;
    color: #6e6e6e;
    margin-bottom: 13px;
}

/* Stil for tekstområde i dekrypteringselementet */
#dekryptering textarea {
    width: 100%;
    height: 70px;
    border: 1px solid #343434;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    background-color: #1C1C1C;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;;
}

/* Stil for inndatafelt i dekrypteringselementet */
#dekryptering input {
    width: 100%;
    border: 1px solid #343434;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background-color: #1C1C1C;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;;
}

/* Stil for dekrypteringsknapp i dekrypteringselementet */
#dekryptering button {
    display: flex;
    align-items: center;
    color: #6e6e6e;
    background-color: #1C1C1C;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;;

    border: none;
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    font-size: 17px;
}

/* Stil for ikon ved siden av teksten i dekrypteringsknappen */
button span {
    display: flex;
    margin-right: 10px;
}

/* Stil for bilde i dekrypteringsknappen */
button img {
    height: 20px;
}

/* CSS-stil for resultatselementet */
#result {
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #1C1C1C;
    border: 1px solid #343434;
    width: 45%;
    display: none;
    margin-top: 40px;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;;
}

/* Navigasjonsdiv-elementet */
.nav_flex {
    background: #08529d;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333; /* Endrer bakgrunnsfarge til mørk khaki */
    display: flex; /* Bruker flexbox for layout */
    justify-content: space-between; /* Sprer elementene jevnt langs aksen */
    align-items: center; /* Sentrerer elementene vertikalt */
    border-radius: 10px; /* Gir boksen avrundede hjørner */
}

.produkt {
    display: flex;
    justify-content: start;
}

/* 'Norwegian Fragrances' tekst */
#tittel {
    display: flex;
    padding: 20px;
    font-size: 40px;
}

/* 'Produkt' tekst i navigasjonslinjen */
#prod {
    font-size: 27px;
    justify-content: center;
    padding: 20px;
}

.handel {
    display: flex;
    flex-direction: row;
}
#login {
    margin: 10px;
}
#user {
    width: 40px;
    height: auto;
    padding-top: 10px;
}

/* Handlevogn */
#vogn {
    justify-content: flex-end;
    height: 40px;
    width: 40px;
    padding: 20px;
    margin-right: 20px;
}

/* Hele div-elementet for produktene */
.inne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}